body{
background-image:url("images/background.png");
margin: 0 auto;
width: 800px;
}
.game{
border:5px solid red;
margin-left: auto;
margin-right: auto;
width: 640px;
height: 480px;
position: relative;
}
.game > img {display: block; position: absolute;}
#playerPaddle {left: 0px;}
#computerPaddle {left: 620px;}